* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  height: 100vh;
}

.hide {
  display: none !important;
}

.container {
  min-height: 70vh;
  text-align: center;
  padding: 2rem;

  h2 {
    margin-bottom: 0.8rem;
  }
}
